<div class="container">
  <%= form_for(task) do |f| %>
    <div class="mb-3">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :details %>
      <%= f.text_field :details %>
    </div>
    <div class="btn btn-primary">
      <%= f.submit %>
    </div>
  <% end %>
</div>
